
.hero-section {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1554118811-1e0d58224f24?auto=format&fit=crop&q=80');
  background-size: cover;
  background-position: center;
  height: 50vh; 
  min-height: 400px;
  border-radius: 15px; 
  margin-top: 10px;
  padding: 20px;
}


@media (max-width: 768px) {
  .hero-section .search-form {
    width: 90% !important;
  }
  .hero-section h1 {
    font-size: 2rem;
  }
}