
.hero-section {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1554118811-1e0d58224f24?auto=format&fit=crop&q=80');
  background-size: cover;
  background-position: center;
  height: 50vh; 
  min-height: 400px;
  border-radius: 15px; 
  margin-top: 10px;
  padding: 20px;
}
.b1 {
  display: flex;
  border-radius: 50px;
  background-color: #b88dc5;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .hero-section .search-form {
    width: 90% !important;
  }
  .hero-section h1 {
    font-size: 2rem;
  }
}