
.img1 img {
    width: 50px;
    height: 50px;
    object-fit: fill;
    justify-items: center;
    border-radius: 50%;
    margin: 0px 20px 0 20px;
}

.img1 {
    display: flex;
    justify-content: space-around;
    
}
.nav1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #b88dc5;
    background-color: #4c4b80;
}
.nav1 a {
    color: #b88dc5;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.nav1 a:hover {
    background-color: #2b2d4d;
    color: #d78f9b !important;
    border-radius: 5px;
}
